.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem 1.5rem 0 1.5rem;
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: #f6f6f6f6;
}
