.sideBarTopLogo {
  height: var(--top-heigth);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  img {
    width: 136px;
    height: 136px;
  }
}
.nav {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  background-color: #e5e4e2;
  height: 100%;
  color: black;
  padding: 1rem 1rem 1rem 1rem;
  font-size: small;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #666666;
  }
}
.sideBarTop {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sideBarBottom {
  display: flex;
  flex-direction: column;
  gap: 8px;

  border-top: 1px solid;
  padding-top: 0.8rem;

  height: 100px;
}
.loginLogout {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.logoutButton {
  background-color: transparent;
  border: none;
  padding: 0px;
  font-size: small;
}
.logoutButton:hover {
  color: #666666;
}
