.grid {
  margin: 31px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-top: 1px solid black;
  height: fit-content;

  span {
    color: #666;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    border-top: 1px solid #ccc;
  }
}
