.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  color: #212529;

  h1 {
    display: flex;
    justify-content: left;
    font-size: 32px;
    font-weight: 700;
    width: 20%;
    padding-bottom: 2rem;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    gap: 12px;
    padding-right: 4rem;
    .formElement {
      display: flex;
      flex-direction: column;
      input,
      select {
        margin-top: 8px;
        padding: 6px 12px;
        background-color: white;
        border-radius: 4px;
        border-width: 1px;
        border-color: gray;
        font-size: 14px;
      }
    }
    button {
      height: 2rem;
      border: none;
      background-color: rgb(74, 72, 72);
      color: #ccc;
      border-radius: 8px;
      margin-top: 16px;
      cursor: pointer;
    }
  }
  .signUp {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #212529;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid black;
  height: fit-content;

  span {
    color: #666;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    border-top: 1px solid #ccc;
  }
}
